.btn-main {
  padding: 9px 20px;
  color: #17CF97 !important;
  background-color: transparent !important;
  border: 2px solid #17CF97 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgb(23, 207, 151) !important;
  font-family: 'Poppins', sans-serif;
  transition: .3s;
}

.btn-main:hover {
  background-color: #17CF97 !important;
  color: #ECF0F3 !important;
  border: 2px solid #17cf97 !important;
  box-shadow: 5px 5px 10px rgb(23, 207, 151) !important;
}

header .navbar {
  position: absolute;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

header .navbar.sticky {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
  -webkit-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
  animation-name: stickyTransition;
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  -webkit-box-shadow: 5px 5px 10px #B0B6C0;
  -moz-box-shadow: 5px 5px 10px #B0B6C0;
  box-shadow: 5px 5px 10px #B0B6C0;
}

@keyframes stickyTransition {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(1, -100% 0);
    transform: translate3d(1, -100% 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

header .nav-link {
  display: inline-flex;
  justify-content: center;
  padding: 0 1rem !important;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 10ms ease-in-out;
  -ms-transition: all 10ms ease-in-out;
  -o-transition: all 10ms ease-in-out;
  -moz-transition: all 10ms ease-in-out;
  transition: all 10ms ease-in-out;
}

header .nav-menu::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #17CF97 !important;
  display: block;
  margin: auto;
  transition: all 0.5s ease-out;
}

header .nav-menu:hover::after {
  width: 100% !important;
}

header a {
  text-decoration: none;
}

header .nav-link a.active {
  color: #17CF97 !important;
}

header .nav-link:hover {
  color: #17CF97 !important;
  transition: .3s;
}

header .img-fluid {
  width: 80px;
  height: 80px;
}



@media (max-width: 992px) {
  header .navbar {
    background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
  }

  header .navbar-toggler {
    border: none;
  }

  header .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }

  header .navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  header .nav-link {
    padding: 1rem !important;
    text-align: right;
  }
}
