.hero-section {
    text-align: center;
    background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 250px;
}

.hero-section .mini-parah {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.hero-section .head {
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #434343;
    letter-spacing: 1px;
    font-weight: 700;
}

.hero-section .parah {
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    letter-spacing: 1px;
    line-height: 23px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-section a .menu-btn {
    padding: 18px 20px;
    margin: 0 10px;
    border: 0px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 10px 10px #B0B6C0;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    color: #000;
}

.hero-section .btn-grp{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 320px) {
    .hero-section a .menu-btn{
        margin-left: 2px;
        margin-right: 2px;
    }
}

.hero-section a .menu-btn:hover {
    transform: scale(1.1, 1.1);
}

@media(min-width: 768px) {
    .hero-section .mini-parah {
        font-size: 16px;
    }
}

@media(min-width: 320px) {
    .hero-section .mini-parah {
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    .hero-section .head {
        font-size: 40px;
    }
}

@media(max-width: 712px) {
    .hero-section .head {
        font-size: 22px;
    }
}

@media(max-width: 320px) {
    .hero-section .head {
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    .hero-section .parah {
        font-size: 16px;
    }
}

@media(max-width: 768px) {
    .hero-section .parah {
        font-size: 13px;
        line-height: 18px;
    }
}